/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    background: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.search-box {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-text {
    margin-left: 40px;
    max-width: 500px;
}

.hero-text h2 {
    font-size: 24px;
    color: #333;
}

.hero-text p {
    margin-top: 10px;
    color: #555;
}

/* Módulos */
.modules {
    position: absolute;
    border-radius: 15px;
    left: 9.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    width: 85%;
    height: 42vh;
    background-color: #003366;
}

.module {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.module h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.module p {
    font-size: 14px;
    color: #555;
}
